<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>629502035224-9ok0bp2qfbbgmlue43o7rs9h9sn5og9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629502035224-9ok0bp2qfbbgmlue43o7rs9h9sn5og9v</string>
	<key>API_KEY</key>
	<string>AIzaSyAq0nDuB3uqZsghK-p-F6uyDZScDqpWmGg</string>
	<key>GCM_SENDER_ID</key>
	<string>629502035224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igneus.minionlogin</string>
	<key>PROJECT_ID</key>
	<string>my-minion-6826b</string>
	<key>STORAGE_BUCKET</key>
	<string>my-minion-6826b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:629502035224:ios:c4c36916a5bac230</string>
	<key>DATABASE_URL</key>
	<string>https://my-minion-6826b.firebaseio.com</string>
</dict>
</plist>